html {
          font-family: sans-serif;
}

.container {
          display: flex;
          gap: 20px;
          flex-wrap: wrap;
          justify-content: center;
}


.parent {
          height: 500px;
          width: 350px;
          background: #000;
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: center;

}