.itemsContainer {
          display: flex;
          flex-direction: column;
          gap: 20px;
}

.items {
       background: dodgerblue;
          /* padding: 20px; */
          /* display: flex; */
}